<!DOCTYPE html>
<html lang='en'>
	<head>
		<!-- Required meta tags -->
		<meta charset='utf-8'>
		<title>Instrumental</title>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

		<!-- Favicon -->
		<link rel='icon' href='/favicon.ico'>

		<!-- Stylesheets -->
		<link href='/css/main.css' rel='stylesheet'>

		<!-- Fonts -->
	</head>

	<body>
		<main>
			<%- body %>
		</main>
	</body>
</html>
